.head {
    background-color: lightseagreen;
}

/* comentario multilinea

*/

/* selector {
    propiedades: valor;
    propiedades: valor;
} */
/* 
Selector universal (asterisco)
*{
    propiedades: valor;
} */

/* selector de etiqueta */

p {
    color: #ff0000; /*abreviacion #f00*/
}
h1 {
    color: yellow;
}

h2 {
    color: rgb(0, 255, 0)
}
/* 
Selector de ID (#)*/
#negrita {
    font-weight: bold;
}
/* 
Selector de clase (.) */
.italica {
    font-style: italic;
}

/* Especificidad de los selectores (jerarquia)

etiqueta<clase<id<inline<"!important" 
*/

/* div p {
    color: blue;
} */

/* .caja p {
    color: blue;
} */

.caja > p { /* el simbolo ">" quiere decir "solo p hijos directos de la clase caja" */
    color: blue;
}

.article {
    background-color: black;
    color: olivedrab;
}
/* recomendacion usar mas clases que selectores de etiqueta. 
