.head {
    background-color: lightseagreen;
}

/* comentario multilinea

*/

/* selector {
    propiedades: valor;
    propiedades: valor;
} */
/* 
Selector universal (asterisco)
*{
    propiedades: valor;
} */

/* selector de etiqueta */

p {
    color: #ff0000; /*abreviacion #f00*/
}
h1 {
    color: yellow;
}

h2 {
    color: rgb(0, 255, 0)
}
/* 
Selector de ID (#)*/
#negrita {
    font-weight: bold;
}
/* 
Selector de clase (.) */
.italica {
    font-style: italic;
}

/* Especificidad de los selectores (jerarquia)

etiqueta<clase<id<inline<"!important" 
*/

/* div p {
    color: blue;
} */

/* .caja p {
    color: blue;
} */

.caja > p { /* el simbolo ">" quiere decir "solo p hijos directos de la clase caja" */
    color: blue;
}

.article {
    background-color: black;
    color: olivedrab;
}
/* recomendacion usar mas clases que selectores de etiqueta.  */

.importante {
    color: #ff0000;
}

.azul
{
    color: blue;
}


.div {
    color: #ff0000;
    background-color: yellow;
    width: 400px;
    height: 200px;
}

.span {
    display: block; /*esta propiedad es la que permite a un elemento de linea mostrarse como elemento de bloque*/
    color: blue;
    background-color: black;
    width: 400px;
    height: 200px;
}

.parrafo-1, .parrafo-2 { /* seleccionar multiples selectores usando la coma (,) y asi ahorramosen codigo*/
    color: aliceblue;
    background-color: darkred;
}



.parrafo-1 {
    /* padding: 20px; equivale a escribirlo detallado como abajo */
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;

    /*el orden para escribir es en sentido horario*/      
}
.parrafo-2 {
    margin: 20px;
}